#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(49, 145, 145, 0.788);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
 .logo {
    animation: logo-spin infinite 5s linear;
  }
}

.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}

.cart{
  height: 100px;
  padding: 5px;
}

.producto{
  height: 200px;
  padding: auto;
}

